<app-header></app-header>
<div class="tri">
    <h1>Trier</h1>
    <img *ngIf="croissant" src="/assets/clock_arrow_down.svg" alt="Trier par date" (click)="tri()" />
    <img *ngIf="!croissant" src="/assets/clock_arrow_up.svg" alt="Trier par date" (click)="tri()" />
</div>
<button mat-stroked-button (click)="create()">Créer un article</button>
<div class="articleList">
    <div class="article" *ngFor="let article of articles" (click)="read(article)">
        <h2>{{ article.title }}</h2>
        <div class="info">
            <p>{{ article.created_at | slice:0:10 }}</p>
            <p>{{ article.user }}</p>
        </div>
        <p>{{ article.content }}</p>
    </div>
</div>
<h1 class="none" *ngIf="articles?.length === 0">Aucun article</h1>