<app-header></app-header>
<div class="profile">
    <div class="form" [formGroup]="form">
        <h1><strong>Profil utilisateur</strong></h1>
        <mat-form-field appearance="outline">
            <mat-label>Nom d'utilisateur</mat-label>
            <input matNativeControl placeholder={{user?.username}} formControlName="username" />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matNativeControl placeholder={{user?.email}} formControlName="email" />
        </mat-form-field>
        <button mat-stroked-button (click)="submit()">Sauvegarder</button>
        <span *ngIf="onError" class="error ml2">{{onError}}</span>
        <button mat-flat-button (click)="logOut()" style="background-color: white; border: none; color: red;">Se déconnecter</button>
    </div>
    <div class="content">
        <hr>
        <p>Abonnements</p>
    </div>
    <div class="themeList">
        <div class="themes" *ngFor="let theme of themes">
            <h2>{{ theme.name }}</h2>
            <p>{{ theme.description }}</p>
            <button mat-stroked-button (click)="unsubscribe(theme)">Se désabonner</button>
        </div>
        <h1 *ngIf="themes?.length === 0">Aucun thème</h1>
    </div>
</div>