<app-header></app-header>
<div class="back">
    <img src="/assets/arrow_back.svg" alt="logo" (click)="back()" />
</div>
<div class="form" [formGroup]="form">
    <h1>Créer un nouvel article</h1>
    <mat-form-field appearance="outline">
        <mat-select placeholder="Sélectionner un thème" formControlName="theme">
            <mat-option *ngFor="let theme of themes" [value]="theme">
                {{ theme }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <input matNativeControl placeholder="Titre de l'article" formControlName="title" />
    </mat-form-field>
    <mat-form-field class="textBox" appearance="outline">
        <textarea matNativeControl class="content" placeholder="Contenu de l'article" formControlName="content"></textarea>
    </mat-form-field>
    <button mat-stroked-button (click)="submit()">Créer</button>
    <span *ngIf="onError" class="error ml2">{{onError}}</span>
</div>