button {
    height: 50px;
    width: 200px;
    font-size: large;
    color: white;
    background-color: rgb(136, 0, 226);
    border-color: black;
    border-radius: 15px;
}

.themeList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.themes {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background-color: gainsboro;
    border-radius: 25px;
    width: 95%;
    height: 95%;
    h2 {
        margin-left: 10%;
    }

    p {
        margin-left: 10%;
    }

    button {
        margin-left: auto;
        margin-right: auto;
      }
}

@media screen and (max-width: 768px) {
    .themeList{
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .themes{
        button{
            width: 80%;
        }
    }
}